//<МИКСИНЫ>===============================================================================================
@mixin anim($time,$delay){-webkit-transition: all $time ease $delay;-moz-transition: all $time ease $delay;-ms-transition: all $time ease $delay;-o-transition: all $time ease $delay;transition: all $time ease $delay;}
@mixin anim_cubic($time, $delay) {-webkit-transition:all $time cubic-bezier(0.68,-0.55,0.265,1.55) $delay;-moz-transition:all $time cubic-bezier(0.68,-0.55,0.265,1.55) $delay;-ms-transition:all $time cubic-bezier(0.68,-0.55,0.265,1.55) $delay;-o-transition:all $time cubic-bezier(0.68,-0.55,0.265,1.55) $delay;transition:all $time cubic-bezier(0.68,-0.55,0.265,1.55) $delay;}
@mixin rotate($deg){-moz-transform: rotate($deg);-ms-transform: rotate($deg);-webkit-transform: rotate($deg);-o-transform: rotate($deg);transform: rotate($deg);}
@mixin scale($num){-moz-transform: scale($num);-ms-transform: scale($num);-webkit-transform: scale($num);-o-transform: scale($num);transform: scale($num);}
@mixin skew($num){-webkit-transform: skewX($num);-moz-transform: skewX($num);-ms-transform: skewX($num);-o-transform: skewX($num);transform: skewX($num);}
@mixin cnt($h){display: flex;flex-direction: column;height: $h;text-align: center;align-items: stretch;justify-content: center;}
@mixin tr($x,$y,$z){transform: translate3d($x, $y, $z);};
@mixin flexbox() {display:-webkit-box;display:-moz-box;display:-ms-flexbox;display:-webkit-flex;display:flex;font-size:0;}
@mixin flexorder($val){-webkit-box-ordinal-group: $val;-moz-box-ordinal-group: $val;-ms-flex-order: $val;-webkit-order: $val;order: $val;}
//</МИКСИНЫ>===============================================================================================

//<ШРИФТЫ>===============================================================================================

//<Подключаем шрифты>=======================================================================================

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Original+Surfer&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Antonio:wght@200;400;700&display=swap');


//</Подключаем шрифты>=======================================================================================

//<Шрифт по умолчанию>==========================================================================================
$fontfamily:"";
//</Шрифт по умолчанию>==========================================================================================

//</ШРИФТЫ>==============================================================================================================

//<ПЕРЕМЕННЫЕ>===========================================================================================================
$minwidth:320px;
$mw:1230;
$md0:1750;
$md1:$mw+12;
$md2:900.98;
$md3:767.98;
$md4:479.98;
$md5:600.98;
//</ПЕРЕМЕННЫЕ>==============================================================================================================

//<ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>===============================================================================================
*{padding: 0px;margin: 0px;border: 0px;}
*,*:before,*:after{-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
aside,nav,footer,header,section{display: block;}
html,body{height: 100%;margin: 0;padding: 0;min-width: $minwidth;position: relative;width: 100%;color: #000;}
body{font-size: 100%;line-height: 1;font-size: 14px;font-family: $fontfamily;-ms-text-size-adjust: 100%;-moz-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;
	&.lock{overflow: hidden;
		@media (max-width:$md3+px){
			width: 100%;
			position: fixed;
			overflow: hidden;
		}
	}
}
input,button,textarea{font-family: $fontfamily;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-weight: inherit;font-size: inherit;}
//</ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>===============================================================================================

//<ОБОЛОЧКА>===========================================================================================================
.wrapper{width: 100%;min-height: 100%;overflow: hidden;
	&.loaded{}
	}
//</ОБОЛОЧКА>===========================================================================================================

//<ОСНОВНАЯ СЕТКА>===========================================================================================================
.container{max-width:$mw+px;margin: 0 auto;width: 100%;
	@media (max-width:$md1+px){max-width: 970px;}
	@media (max-width:$md2+px){max-width: 750px;}
	@media (max-width:$md3+px){max-width: none;padding:0 10px;}
}
//</ОСНОВНАЯ СЕТКА>===========================================================================================================

//<ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>====================================================================================================
@import "baguetteBox.scss";
@import "popover.min.scss";
@import "popup.scss";
@import "header.scss";
@import "footer.scss";
//</ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>====================================================================================================

//<ОСНОВНОЙ БЛОК>====================================================================================================

body {
	background: #fff;
	height: 100%;
	line-height: 1;
	font-size: 14px;
	font-family: 'Roboto', sans-serif;
}

/* ------------------ */


/* ------------------ */


/* ------------------ */


body._lock {
	overflow: hidden;
}



.header {
	opacity: 0.9;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 10;
	background: #000;
}
.header__container {
	max-width: 1200px;
	margin: 0px auto;
	display: flex;
	padding: 0px 30px 0 25px;
	align-items: center;
	justify-content: space-between;
	min-height: 70px;
	@media (max-width:$md5+px){
				padding: 0 10px 0 0px;
			}
}
.header__logo {
	opacity: 1;
	bottom: 10px;
	position: relative;
	z-index: 5;
	width: 40px;
	height: 40px;
}
.header__menu {
}
.menu {
}
.menu__icon {
	display: none;
}
.menu__body {
}
.menu__list {
}
.menu__list > li {
	position: relative;
	margin: 0px 0px 0px 35px;
	&:nth-child(3){
		display: none;
	}
	@media (max-width:$md2+px){
		&:nth-child(3){
		display: list-item;
	}
	}
}
.menu__link {
	opacity: 1;
	font-weight: 700;
	font-style: italic;
	overflow: hidden;
	font-family: 'Antonio', sans-serif;
	color: #fff;
	font-size: 18px;
	transition-duration: 1s;
	&:after{
			margin: 4px 0 0 0;
			display: block;
			position: absolute;
			left: 0; 
			width: 0;
			height: 2px; 
			background-color: #fcff00;
			content: "";
			transition: width 0.3s ease-out;
		}
	&:hover{
		&:after{
			background-color: #fcff00;
			width: 100%;
		}
	}
}

.menu__sub-list {
	position: absolute;
	top: 100%;
	right: 0;
	background-color: #000;
	padding: 15px;
	min-width: 200px;
}
.menu__sub-list li {
	margin: 0px 0px 10px 0px;
}
.menu__sub-list li:last-child {
	margin: 0;
}
.menu__sub-link {
	color: #fff;
}
.menu__sub-link:hover {
}
.menu__arrow {
	display: none;
}
/* ----------------------- */
body._pc .menu__list > li:hover .menu__sub-list {
	opacity: 1;
	visibility: visible;
	transform: translate(0px, 0px);
	pointer-events: all;
}
body._touch .menu__list > li {
	display: flex;
	align-items: center;
}
body._touch .menu__link {
	flex: 1 1 auto;
}
body._touch .menu__arrow {
	display: block;
	width: 0;
	height: 0;
	margin: 0px 0px 0px 5px;
	transition: transform 0.3s ease 0s;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-top: 10px solid #fff;
}

body._touch .menu__list > li._active .menu__sub-list {
	opacity: 1;
	visibility: visible;
	transform: translate(0px, 0px);
	pointer-events: all;
}
body._touch .menu__list > li._active .menu__arrow {
	transform: rotate(-180deg);
}

/* ----------------------- */
@media (min-width: 767px) {
	.menu__list {
		display: flex;
		align-items: center;
	}
	.menu__list > li {
		padding: 10px 0;
	}
	.menu__sub-list {
		transform: translate(0px, 10%);
		opacity: 0;
		visibility: hidden;
		pointer-events: none;
		transition: all 0.3s ease 0s;
	}
}
@media (max-width: 767px) {
	.menu__icon {
		z-index: 5;
		display: block;
		position: relative;
		width: 30px;
		height: 18px;
		cursor: pointer;
	}
	.menu__icon span,
	.menu__icon::before,
	.menu__icon::after {
		left: 0;
		position: absolute;
		height: 10%;
		width: 100%;
		transition: all 0.3s ease 0s;
		background-color: #fff;
	}
	.menu__icon::before,
	.menu__icon::after {
		content: "";
	}
	.menu__icon::before {
		top: 0;
	}
	.menu__icon::after {
		bottom: 0;
	}
	.menu__icon span {
		top: 50%;
		transform: scale(1) translate(0px, -50%);
	}

	.menu__icon._active span {
		transform: scale(0) translate(0px, -50%);
	}
	.menu__icon._active::before {
		top: 50%;
		transform: rotate(-45deg) translate(0px, -50%);
	}
	.menu__icon._active::after {
		bottom: 50%;
		transform: rotate(45deg) translate(0px, 50%);
	}

	.menu__body {
		position: fixed;
		top: 0;
		left: -100%;
		width: 100%;
		height: 100%;
		background-color: rgba(0, 0, 0, 0.9);
		padding: 100px 30px 30px 30px;
		transition: left 0.3s ease 0s;
		overflow: auto;
	}
	.menu__body._active {
		left: 0;
	}

	.menu__body::before {
		content: "";
		position: fixed;
		width: 100%;
		top: 0;
		left: 0;
		height: 70px;
		background-color: #000;
		z-index: 2;
	}

	.menu__list > li {
		flex-wrap: wrap;
		margin: 0px 0px 30px 0px;
	}
	.menu__list > li:last-child {
		margin-bottom: 0;
	}
	.menu__list > li._active .menu__sub-list {
		display: block;
	}
	.menu__link {
		font-size: 24px;
	}
	.menu__sub-list {
		position: relative;
		background-color: #fff;
		flex: 1 1 100%;
		margin: 20px 0px 0px 0px;
		display: none;
	}
	.menu__sub-link {
		font-size: 20px;
		color: #000;
	}
}



.image-slider {
	height: 500px;
	width: 100%;
	position: relative;
	background: #000;
}
@media (max-width:$md3+px){
	.image-slider{
		display: none;
	}
}
.image-slider__wrapper {
}
.image-slider__slide {
}

.image-slider__image {
	position: relative;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	text-align: center;

}

.image-slider__image img {
	width: 100%;
	max-height: 100%;
}

/* Стрелки */
.image-slider .swiper-button-prev::after,
.image-slider .swiper-button-next::after {
	color: #fff;
	font-size: 80px;
}

/* Пагинация */
.image-slider .swiper-pagination {
}
/* Буллеты */
.image-slider .swiper-pagination-bullet {
	line-height: 20px;
	font-size: 18px;
	background-color: #fcff00;
}
//===================================================================================================================

.content {
	position: relative;
	padding: 40px;
	@media (max-width:$mw+px){
		padding: 27px;
	}
	@media (max-width:$md3+px){
		margin: 60px 0 0 0;
	}
	&__container {
		@include flexbox();
		flex-direction: row;
		@media (max-width:$md2+px){
			flex-direction: column;
		}
	}
	&__title {
		border-radius: 7px;
		margin: 0 0 20px 0;
		padding: 12px 18px;
		color: #000;
		& p{
			font-family: 'Original Surfer', cursive;
			font-style: italic;
			font-size: 40px;
			text-align: center;
		}
	}
	&__filter {
		flex: 1 1 15%;
		margin: 0px 60px 0 0;
		@media (max-width:$mw+px){
			flex: 0 1 25%;
		}
		@media (max-width:$md2+px){
			margin: 0 0 0px 0;
			@include flexbox();
		}
	}
	&__catalog {
		flex: 0 1 85%;
		@media (max-width:$mw+px){
			flex: 0 1 75%;
		}
		@media (max-width:$md2+px){
			margin: 0px 0 0 0;
		}
	}
	&__active {}
	&__watched {}
}
.filter__title {
	margin: 0px 0px 0px 0px;
}
.filter__title {
	font-family: 'Roboto', sans-serif;
	font-style: italic;
	font-weight: 700;
	color: #f9f730;
	text-transform: uppercase;
	letter-spacing: 2px;
	position: relative;
	padding: 0px 0px 0px 10px;
	cursor: pointer;
}
.filter__title:before,
.filter__title:after{
	content: '';
	width: 12px;
	height: 2px;
	background-color: #fff;
	position: absolute;
	top: 8px;
	transition: all 0.3s ease 0s;
}
.filter__title:before{
	transform: rotate(40deg);
	left: 0;
}
.filter__title:after{
	transform: rotate(-40deg);
	left: 8px;
}

.filter__title.active:before,
.filter__title.active:after{
	background-color: #fcff00;
}
.filter__title.active:before{
	transform: rotate(-40deg);
}
.filter__title.active:after{
	transform: rotate(40deg);
}

.subtitle__list {
	display: none;
	padding: 0px 0px 0px 0px;
}
.filter {
	@media (max-width:$md2+px){
		position: relative;
	}
		&__banner {
			flex: 1 1 20%;
			display: none;
			background: #fff;
			box-shadow: 3px 3px 1px #4e4e4e;
			border: 2px solid #000;
			border-radius: 7px;
			@media (max-width:$md2+px){
				border: 1px solid #000;
				display: list-item;
			}
			@media (max-width:$md5+px){
				display: none;
			}
		}

	&__block{
		background: #fff;
		height: 200px;
		box-shadow: 3px 3px 1px #4e4e4e;
		border: 2px solid #000;
		border-radius: 7px;
		&:last-child{
			margin: 20px 0 0 0;
		}
		@media (max-width:$md0+px){
		&:last-child{
			display: none;
			}
			}
		@media (max-width:$mw+px){
		height: 340px;
		&:last-child{
			margin: 20px 0 0 0;
			display: list-item;
			}
		}
		& p{
		font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
		font-size: 20px;
		text-align: center;
		margin: 10px 0 0 0;
		}
	}
	&__list {
		@media (max-width:$md2+px){
			flex: 1 1 40%;
			max-width: 220px;
			margin: 0 30px;
		}
		@media (max-width:$md5+px){
			margin: 0px auto;
		}
	}
	&__item {
		box-shadow: 3px 3px 1px #4e4e4e;
		background: #000;
		padding: 12px 18px 12px 18px;
		border-radius: 7px;
		border: 2px solid #000;
		margin: 0 0 20px 0;
		@media (max-width:$md2+px){
			width: 220px;
			margin: 0 0px 15px 0;
		}
	}
	&__title {
		margin: 0 0 0px 0;
		padding: 0px 0px 0px 30px;
		position: relative;
		cursor: pointer;
		font-size: 20px;
	}
	&__subtitle {}
}
.block{
	@media (max-width:$md2+px){
		display: none;
	}
}
.subtitle {
	&__list {
		display: none;
	}
	&__item {
		text-align: center;
		margin: 10px 10px 0px 10px;
	}
	&__link{
	position: relative;
	color: #fff;
	text-decoration: none;
	font-weight: 700;
	font-style: italic;
	overflow: hidden;
	font-family: 'Antonio', sans-serif;
	font-size: 18px;
	transition-duration: 1s;
	&:after{
			margin: 4px 0 0 0;
			display: block;
			position: relative;
			left: 0; 
			width: 0;
			height: 2px; 
			background-color: #fcff00;
			content: "";
			transition: width 0.3s ease-out;
		}
	&:hover{
		&:after{
			background-color: #fcff00;
			width: 100%;
		}
	}
}
}
.catalog {
	@media (max-width:$md2+px){
		padding: 20px 0 0 0;
	}
}
.active {
	&__text {
	}

	&__column {
		flex-wrap: wrap;
		@include flexbox();
	}
	&__item {
		background: #fff;
		border: 2px solid #000;
		&:hover{
			
		}
	}
}
.f {
	&_2 {}
}
.item {
	background: url('../img/Content/Logo/11.jpg') 0 0/cover no-repeat;
	align-content: flex-end;
	@include flexbox();
	margin: 0 26px 26px 0;
	flex: 1 1 47%;
	@media (max-width:$mw+px){
		flex: 0 1 100%;
	}
	@media (max-width:$md2+px){
	margin: 0 0 26px 0;
	}
	@media (max-width:$md4+px){
		background: url('../img/Content/Logo/10.jpg') 0 0/cover no-repeat;
	}

	&__text{
		padding: 5% 3% 0% 3%;
		flex: 1 1 53%;
		@media (max-width:$md0+px){
			padding: 4% 4% 0 3%;
		}
		@media (max-width:$mw+px){
			padding: 5% 2% 2% 3%;
			flex: 1 1 56%;
		}
		@media (max-width:$md4+px){
			flex: 1 1 100%;
		}
	}

	&__titl {
		font-family: 'Roboto', sans-serif;
		font-style: italic;
		font-weight: 700;
		color: #f9f730;
		font-size: 25px;
		text-transform: uppercase;
		letter-spacing: 2px;
		position: relative;
		padding: 0px 0px 0px 10px;
		cursor: pointer;
		@media (max-width:$md0+px){
			font-size: 14px;
		}
		@media (max-width:$mw+px){
			font-size: 20px;
		}
		@media (max-width:$md5+px){
			font-size: 14px;
		}
		@media (max-width:$md4+px){
			font-size: 18px;
		}
	}
	&__subtitl {
		line-height: 22px;
		font-weight: 700;
		margin: 18% 0 0 10%;
		font-size: 18px;
		@media (max-width:$md0+px){
			font-size: 14px;
			margin: 19% 0 5% 10%;
		}
		@media (max-width:$mw+px){
			margin: 11% 0 10px 20px;
			font-size: 17px;
		}
		@media (max-width:$md5+px){
				font-size: 12px;
			}
		@media (max-width:$md4+px){
			font-size: 16px;
		}
		& a{
			position: relative;
			border-radius: 7px;
			padding: 3% 7%;
			display: inline-block;
			border: 1px solid #000;
			color: #000;
			background: #fff;
			transition: 0.4s;
			box-shadow: 2px 2px 1px #666666;
			@media (max-width:$md0+px){
				padding: 3% 5%;
			}
			@media (max-width:$md4+px){
				padding: 2% 5%;
			}
			&:hover{
				background: #f9f730;
				color: #000;
			}
			&:active{
				background: #f9f730;
				color: #000;
				top: 2px;
				box-shadow: 1px 1px 0 #7f7f7f;
			}
		}
	}
	&__logo {
		padding: 4px;
		text-align: center;
		flex: 1 1 47%;
		@media (max-width:$mw+px){
			flex: 1 1 44%;
		}
		@media (max-width:$md4+px){
			display: none;
		}
		& img{
			display: inline-block;
			max-width: 100%;
			max-height: 100%;
	}
}
}

.reklama
{
	margin: 0 26px 26px 0;
	flex: 1 1 95%;
	background: #fff;
	height: 150px;
	border: 2px solid #000;
	@media (max-width:$mw+px){
		margin: 0 0 26px 0;
	}
	&__text{
		padding: 20px 10px 0 10px;
	}
	&__titl{
		font-family: 'Roboto', sans-serif;
		font-style: italic;
		font-weight: 700;
		color: #000;
		font-size: 18px;
		text-transform: uppercase;
		letter-spacing: 2px;
		position: relative;
		padding: 0px 0px 0px 10px;
		cursor: pointer;
	}
}



.watched {
	display: none;
	margin: 50px 0 0 0;
	&__title {
		border-radius: 7px;
		margin: 0 0 20px 0;
		padding: 12px 18px;
		color: #000;
		& p{
			font-weight: 700;
			font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
			font-style: italic;
			font-size: 30px;
		}
	}
	&__column {
		@include flexbox();
		flex-wrap: wrap;
	}
	&__item {
		border: 2px solid #000;
		background: #000;
		flex: 1 1 30%;
		&__titl{
		}
		&__logo{

		}
	}
}
.content {
	&__watched {}
}
.watched {
	&__title {}
	&__column {}
	&__item {}
}
.item {
	&__text {}
	&__titl {
	& a{position: relative;
	color: #f9f730;
	text-decoration: none;
	font-weight: 700;
	font-style: italic;
	overflow: hidden;
	font-size: 20px;
	transition-duration: 1s;
	}
}
	&__logo {}
}

//</ОСНОВНОЙ БЛОК>====================================================================================================

.footer {
	padding: 30px 20px 25px;
	background: #000;
	&__body{
		text-align: center;
		@include flexbox();
	}
	&__container {}
	&__column {
		flex: 0 1 50%;
	}
	&__item {
	}
	&__title {
		font-size: 28px;
		font-weight: 700;
		color: #fff;
		margin: 0 0 20px 0;
		@media (max-width:$md0+px){
			font-size: 22px;
		}
	}
	&__list {
	}
	&__link{
		position: relative;
		color: #fff;
		margin: 0 0 16px 0;
		font-size: 18px;
		@media (max-width:$md0+px){
			font-size: 14px;
		}
		@media (max-width:$md3+px){
			font-size: 12px;
		}
		& a{
			color: #fff;
			text-decoration: none;
			font-weight: 700;
			font-style: italic;
			overflow: hidden;
			font-family: 'Antonio', sans-serif;
			font-size: 14px;
			transition-duration: 1s;
			&:after{
					margin: 4px 0 0 0;
					display: block;
					position: relative;
					left: 34%; 
					width: 0;
					height: 2px; 
					background-color: #fff;
					content: "";
					transition: width 0.3s ease-out;
				}
			&:hover{
				color: #f9f730;
				&:after{
					background-color: #fff;
					width: 32%;
				}
			}
		}
	}
}


//<ПОДКЛЮЧЕНИЕ ФАЙЛОВ UI СТИЛЕЙ, ФОРМ И ГОТОВЫХ КЛАССОВ>====================================================================================================
@import "forms.scss";
@import "ui.scss";
//</ПОДКЛЮЧЕНИЕ ФАЙЛОВ UI СТИЛЕЙ, ФОРМ И ГОТОВЫХ КЛАССОВ>===================================================================================================